header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/introBg.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 1s ease-out;

    .wrapper {
        display: flex;  
        flex-direction: column;
        min-height: 100vh;
        padding: 30px 0;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .introImgContainer {
            width: 60%;
            padding: 30px;
        }

        .playNow {
            background: transparent;
            border: none;
            background-image: url(../assets/woodenBg.png);
            background-position: center;
            background-size: 100% 100%;
            padding: 25px;
            width: 20%;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.1);
            }
        }

    &.slideUp {
        top: -100vh;
        opacity: 0.5;
    }
}

// Responsivess styles
@media (max-width: 768px) {

    header {
        .introImgContainer{
            width: 80%;
        }

        .playNow {
            width: 50%;
        }
    }
}