main {
    height: calc(100vh - 35px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    .wrapper {
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(5px);
    }
}

h1,
h3 {
    margin: 0;
}

.gameContainer {
    display: flex;
    justify-content: space-between;
    height: 50vh;

    .imgContainer {
        width: 65%;
        background: $lightColor;
        position: relative;

        .dinoImage {
            height: 100%;
        }

        img {
            max-height: 100%;
            object-fit: contain;
            margin: 0 auto;
        }
    }

    .tilesContainer {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        perspective: 800px;
        transition: all 1.5s;
        
        .tile {
            background: $secondaryColor;
            background-image: url(../assets/dinoFootprint.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40%;
            border: 1px solid $mainColor;
            transition: all 1s;
        }

        .flipped {
            backface-visibility: hidden;
            transform: rotateY(-180deg);
        }

        &.remove {
            opacity: 0;
        }
    }

    .multipleChoiceContainer {
        width: 30%;
        position: relative;
        border-left: 5px groove $secondaryColor;
    }

    .multipleChoiceUl li {
        list-style: none;

        .btnChoice {
            border: none;
            width: 80%;
            background: transparent;
            background-image: url(../assets/woodenBg.png);
            background-position: center;
            background-size: 100% 100%;
            padding: 10px;
            margin: 10px;
        }
    }

    .imgContainer {
        border: 1px solid $mainColor;
    }

    .btnNext {
        position: absolute;
        bottom: 3%;
        right: 5%;
        padding: 5px 10px;
        display: none;
    }
}

footer {
    padding: 10px;
    background: $mainColor;

    p {
        margin: 0;
    }
}