html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: 'Hammersmith One', sans-serif;
}

h1 {
    font-family: 'Freckle Face', cursive;
    font-size: 4rem;
    color: $mainColor;
}

footer p {
    font-size: 1.4rem;
    color: $lightColor;
}