html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: 'Hammersmith One', sans-serif;
}

h1,
h2,
.btnNext {
    font-family: 'Freckle Face', cursive;
    color: $mainColor;
    letter-spacing: 2px;
}

h1 {
    font-size: 6rem;
    color: $lightColor;
}

.btnNext {
    text-transform: uppercase;
}

footer p {
    font-size: 1.4rem;
    color: $lightColor;
}

// Responsiveness styles
@media (max-width: 600px) {
    h1 {
        font-size: 4rem;
        text-align: center;
    }

    body {
        font-size: 1.4rem;
    }
}