article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

.center {
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'Hammersmith One', sans-serif;
}

h1,
.btnNext {
  font-family: 'Freckle Face', cursive;
  color: #1c2f13;
  letter-spacing: 2px;
}

h1 {
  font-size: 4rem;
}

.btnNext {
  text-transform: uppercase;
}

footer p {
  font-size: 1.4rem;
  color: #fff;
}

main {
  height: calc(100vh - 35px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

main .wrapper {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

h1,
h3 {
  margin: 0;
}

.gameContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50vh;
}

.gameContainer .imgContainer {
  width: 65%;
  background: #fff;
  position: relative;
}

.gameContainer .imgContainer .dinoImage {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gameContainer .imgContainer img {
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.gameContainer .tilesContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.gameContainer .tilesContainer .tile {
  background: #fade70;
  background-image: url(../assets/dinoFootprint.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  border: 1px solid #1c2f13;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.gameContainer .tilesContainer .flipped {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.gameContainer .tilesContainer.remove {
  opacity: 0;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.gameContainer .multipleChoiceContainer {
  width: 30%;
  position: relative;
  border-left: 5px groove #fade70;
}

.gameContainer .multipleChoiceUl li {
  list-style: none;
}

.gameContainer .multipleChoiceUl li .btnChoice {
  border: none;
  width: 90%;
  background: transparent;
  background-image: url(../assets/woodenBg.png);
  background-position: center;
  background-size: 100% 100%;
  padding: 10px;
  margin: 10px;
}

.gameContainer .imgContainer {
  border: 1px solid #1c2f13;
}

.gameContainer .btnNext {
  position: absolute;
  bottom: 3%;
  right: 5%;
  background: transparent;
  border: none;
  display: none;
}

.gameContainer .btnNext.show {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gameContainer .btnNext .arrowRight {
  width: 3rem;
  height: 2.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 5px;
}

footer {
  padding: 10px;
  background: #1c2f13;
}

footer p {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */